<main>
  <div class="container">
    <div class="row">
      <br />
      <a href="/" class="btn" onclick="Materialize.toast('List Updated', 4000)">Update Article List</a>
    </div>
    <div id="db-info" class="row">
      
    </div>
  </div> <!-- container -->
</main>